<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
        <title>About the Author</title>
        <link rel="stylesheet" href="/css/about-author.css">
    </head>

    <body>
        <div class="author-card">
           <div class="author-photo">
               <img src="/images/author-photo.jpeg" alt="Author Photo"/>
           </div>

            <div class="author-info">
                <div class="author-name">Данил Терновский</div>
                <div class="group-name"> ИП-213 </div>
                <div class="university-name">СибГУТИ</div>
            </div>
        </div>
    </body>
</html>